@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Verdana", sans-serif;
}

body {
  display: flex;
  align-items: auto;
  justify-content: center;
  flex-direction: column;
  background-color: pink;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 500px; 
}

button {
  border: 1px solid rgb(105, 197, 255);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(105, 197, 255);
  text-align: center;
  padding: 5px;
  
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: red;
}